
//全局主题色系

$blue: #4b77be;

// 字体通用模板
@mixin textStyle($height, $width, $size, $color){
    height: $height;
    line-height: $height;
    width: $width;
    font-size: $size;
    color: $color;
}
//清除浮动
@mixin clearFloat{
    content: '';
    clear: both;
    display: block;
}

//定位

@mixin position($type, $top, $right, $bottom, $left){
    position: $type;
    left: $left;
    right: $right;
    bottom: $bottom;
    top: $left;
}





